* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

main {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 100px repeat(8, 1fr) 41px;
  min-height: 100vh;
}

.grid-item2 {
  grid-row: 3;
  grid-column: 3;
  display: flex;
  justify-content: center;
}

.grid-item3 {
  grid-row: 4;
  grid-column: 3;
  display: flex;
  justify-content: center;
}

.grid-item4 {
    grid-row: 5;
    grid-column: 3;
    display: flex;
    justify-content: center;
}

.btn-google {
    height: 36px;
}

.grid-item5 {
    grid-row: 6;
    grid-column: 3;
    display: flex;
    justify-content: center;
    margin-top: -35px;
    font-size: 13px;
}

.grid-item6 {
    grid-row: 10;
    grid-column-start: 1;
    grid-column-end: 6;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: #f2f2f2;
    line-height: 40px;
    border-top: 1px solid #e4e4e4;
}

#google-footer a { 
  color: #5f6368;
  text-decoration: none;
  padding-left: 27px;
}

#google-footer a:hover {
  text-decoration: underline;
}

.google-change-lang {
  padding-left: 5px;
}

.form-group {
  display: flex;
  border-radius: 24px;
  border: 1px solid #dfe1e5;
  outline: none;
  height: 44px;
  width: 584px;
  margin-top: 20px;
}


.searchbar {
  border: none;
  width: 520px;
  padding-left: 10px;
}

.searchbar:focus { 
  outline: none;
}

.glass { 
  padding-left: 10px;
  filter: invert(69%) sepia(8%) saturate(240%) hue-rotate(169deg) brightness(92%) contrast(87%);
}

.mic {
  padding-right: 10px;
  filter: invert(69%) sepia(8%) saturate(240%) hue-rotate(169deg) brightness(92%) contrast(87%);
}

.btn-google { 
  border: 1px solid #f2f2f2;
  padding: 0 16px;
  border-radius: 4px;  
  color :#5F6368
}

.btn-google:focus { 
  outline: none;
}

.btn-google:hover {
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
  background-image: -webkit-linear-gradient(top,#f8f8f8,#f1f1f1);
  background-color: #f8f8f8;
  border: 1px solid #c6c6c6;
  color: #222;
}

.form-group:hover {
  box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
  border-color: rgba(223,225,229,0);
}

/* Media Queries */
@media only screen 
and (max-width : 622px) {
 .form-group { 
   width: 400px;
 }
}
